<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<head>
	<meta charset="UTF-8">
	<title>Panel administratora</title>
</head>
<body>
		{% for mesg in get_flashed_messages() %}
		<h1>{{ mesg }}</h1>
		{% endfor %}
		<div>
		<a class="btn btn-warning" href="register_teacher">Add teacher</a>
		</div>
		<div>
		<a class="btn btn-warning" href="register_student">Add student </a>
	</div>
		<div>
		<a class="btn btn-warning" href="class_addition">Add class </a>
	</div>
		<div>
		<a class="btn btn-warning" href="class_student">Assign student to the class </a>
	</div>
		<div>
			    <form action="{{url_for('update_class',class_id=class_id)}}">
						<a>{{form.classes_id}}</a>
        <input class="btn btn-primary" type="submit" value="Change class info">
    </form>
	</div>
</body>
</html>
{% endblock content %}