<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<fieldset>
	<form action='' method="post">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<div class="form-group">
				{{ form.first_name.label(class="form-control-label") }}
				{% if form.first_name.errors %}
				{{ form.first_name(class="form-control form-control-lg is-invalid") }}
			</div>
			<div class="invalid-feedback">
			{% for error in form.first_name.errors %}
			<span>{{ error }}</span>
			{% endfor %}
			</div>
				{% else %}
				{{ form.first_name(class="form-control form-control-lg", placeholder=teacher.first_name) }}
				{% endif %}
		</div>
		<div class="form-group">
				{{ form.last_name.label(class="form-control-label") }}
				{% if form.last_name.errors %}
				{{ form.last_name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
			{% for error in form.last_name.errors %}
			<span>{{ error }}</span>
			{% endfor %}
			</div>
				{% else %}
				{{ form.last_name(class="form-control form-control-lg", placeholder=teacher.last_name) }}
				{% endif %}
		</div>
		<div class="form-group">
		{{ form.university.label(class="form-control-label") }}
		{% if form.university.errors %}
		{{ form.university(class="form-control form-control-lg is-invalid") }}
		<div class="invalid-feedback">
			{% for error in form.university.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
		{{ form.university(class="form-control form-control-lg", placeholder=teacher.university) }}
		{% endif %}
		</div>
			<div class="form-control">
			<a>Major</a>
			{{form.major(class="form-control form-control-lg", placeholder=teacher.major)}}
			</div>
				<div>
			{{ form.submit(class="btn btn-outline-info") }}
			</div>
		{% for mesg in get_flashed_messages() %}
		<h1>{{ mesg }}</h1>
		{% endfor %}
	</form>
	<a class=" btn btn-outline-success float-end" href="teacher.teacher_profile">Go back to your profile</a>
</fieldset>
{% endblock content %}