<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<head>
	<meta charset="UTF-8">
	<title>Add class</title>
</head>
<body>
<form action='' method="post">
	{{ form.csrf_token }}
	<div>Change class information</div>
		<div>
			{% for mesg in get_flashed_messages() %}
			<h1>{{ mesg }}</h1>
			{% endfor %}
		</div>
	<fieldset>
		<div class="form-control">
			<a>Teacher</a>
			{{teacher.first_name}} {{teacher.last_name}} change to: {{form.teacher_id}}
		</div>
			<div class="form-control">
			<a>Subject</a>
			{{classes.subject}} change to:{{form.subject}}
			</div>
			<div class="form-control">
				<a>Weekday</a>
			{{classes.weekday}} change to:{{form.weekday}}
			</div>
		<div class="form-control">
				<a>Hour</a>
			{{classes.hour}} change to:{{form.hour}}
			</div>
		<div>
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</fieldset>
</form>
					<a class=" btn btn-outline-success float-end" href="admin_panel">Go back to admin panel</a>
</body>
{% endblock content %}